<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427417841951-gkvirrbk0dn3luepaltsj32jcu4g5g5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427417841951-gkvirrbk0dn3luepaltsj32jcu4g5g5m</string>
	<key>API_KEY</key>
	<string>AIzaSyAU133MQPzNMA0H3yxuQdoVWqPuM21o1Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>427417841951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.OpenCurate</string>
	<key>PROJECT_ID</key>
	<string>opencurate</string>
	<key>STORAGE_BUCKET</key>
	<string>opencurate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427417841951:ios:44e1e279d67c4b1fb7402a</string>
</dict>
</plist>